<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-info">
          <h3>Shopsapp</h3>
          <p>
            234 xyz Lane , Abc  <br>
            NY 535022, India<br><br>
            <strong>Phone:</strong> +91-9384848855<br>
            <strong>Email:</strong> info@example.com<br>
          </p>
          <div class="social-links mt-3">
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="google-plus"><i class="fa fa-skype"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="fa fa-chevron-right"></i> <a href="#home">Home</a></li>
            <li><i class="fa fa-chevron-right"></i> <a href="#about">About us</a></li>
            <li><i class="fa fa-chevron-right"></i> <a href="#features">Features</a></li>
            <li><i class="fa fa-chevron-right"></i> <a href="#contact">Contact us</a></li>
            <li><i class="fa fa-chevron-right"></i> <a href="terms">Terms of service</a></li>
            <li><i class="fa fa-chevron-right"></i> <a href="policy">Privacy policy</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Our Newsletter</h4>
          <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      © Copyright <strong><span>shopsapp</span></strong>. All Rights Reserved
    </div>
  </div>
</footer>

